@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: hsl(160, 100%, 19%);
  --color-secondary: hsl(346, 100%, 42%);
  --color-extra: hsl(160, 32%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: hsl(0, 0%, 0%);
}

a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

section a {
  color: hsl(0, 0%, 100%);
}

/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: hsl(0, 0%, 0%);
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav-left {
  text-transform: uppercase;
  /* pushes to left hand side */
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.navbar-nav-right li:nth-child(2) {
  margin: 0 5px;
}


/* Footer & Social */
.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.social img {
  width: 35px;
  height: 35px;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

.divider {
  width: 95%;
  height: 1px;
  background-color: hsl(0, 0%, 80%);
  margin: 40px auto;
}

/* Grid Styles */

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px hsl(0, 0%, 0%) solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}

.btn-dark-outline {
  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
  background-color: hsla(0, 0%, 0%, 0.06);
}

.btn-light-outline {
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.btn-dark {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.btn-dark:hover {
  background-color: hsl(0, 0%, 20%);
}

/* Backgrounds */

/* Text Styling */

/* Padding */

/* Hamburger Menu Icon */

/* Mobile Menu */